{% load static %}
      <nav class="navbar navbar-dark bg-dark-primary">
        <div class="container">
                <p>Hola <strong>{{user_type}} {{name}}</strong> | <a href="{% url 'auth:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout </a></p>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
    <a class="navbar-brand" href="/basket"></a>
    <!-- <img class="mb-4" src="{% static 'core/img/basketball-coach.jpg' %}" alt="10" width="22" height="22"> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



  <div class="collapse navbar-collapse" id="menu">
      <img class="mb-4" src="{% static 'core/img/basket_logo.jpg' %}" alt="" width="32" height="32">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:teams' %}">Team</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:players_list' %}">Player</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:coach' %}">Coach</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:match' %}">Match</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'basket:players_list' %}">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>
