.breadcrumb {
    background: white;
    padding-left: 0;
}

.breadcrumb a {
    color: black;
}

.navbar-brand img#logo {
    max-width: 60px;
}

.bg-dark-primary {
    background-color: #444444!important;
    margin: 0;
    padding: 0;
}
.bg-dark-primary .container {
    color: #9a9793;
    text-decoration: none;
}

.bg-dark-primary .container p {
    color: #FFFFFF;
    width: 100%;
    text-align: right;
     text-decoration: none;
}

.bg-dark-primary .container a {
    color: #9a9793;
    text-decoration: none;
    width: 100%;
    text-align: right;
}

.bg-dark-primary .container a:hover {
    color: #FFF;
}