{% extends "base.html" %}
{% load static %}
{% include '_partials/_navbar.html' %}
<!DOCTYPE html>

<head>
<!-- Require meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6a748a1171.js" crossorigin="anonymous"></script>

    <!--
    <style>
      .breadcrumb{
              background: white;
              padding-left: 1;
              border-bottom: 1px solid black;
      }
      .breadcrumb a {
              color: black;
      }

    </style>
    -->
    <title>{% block title %}home{% endblock %}</title>
    {% block extra_css %}
    {% endblock %}

</head>
<body>

<h1>Links</h1>
    <ul>
        <li><a href="{% url 'basket:home' %}">Home</a></li>
        <li><a href="{% url 'basket:teams' %}">Teams</a></li>
        <li><a href="{% url 'basket:match' %}">Matches</a></li>

    </ul>

    {% block link %}{% endblock %}
<!--
<nav class="navbar navbar-dark bg-dark-primary">
    <div class="container">
        <p>Hola <strong>{{ request.user }}</strong> | <a href="{% url 'auth:logout' %}"> Salir <i class="fas fa-sign-out-alt"></i></a></p>
    </div>

</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
  <a class="navbar-brand" href="/basket"></a>
   <img class="mb-4" src="{% static 'core/img/basketball-coach.jpg' %}" alt="10" width="22" height="22">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="menu">
      <img class="mb-4" src="{% static 'core/img/basket_logo.jpg' %}" alt="" width="32" height="32">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:teams' %}">Team</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:players_list' %}">Player</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:coach' %}">Coach</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:match' %}">Match</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'basket:players_list' %}">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>

-->
    <div class="container">
    {% block content %}
        {% endblock %}

    </div>

    <!-- Optional JavaScript -->
    <!--  JQuery first, then Popper.js, the Bootsrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/98a2688348.js" crossorigin="anonymous"></script>
</body>

</html5>
