{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Entrenadores{% endblock %}
{% block extra_css %}
<style>
    .color_update_coach {
        color: #F3EC11;
        font-size: 22px;
    }
    .color_delete_coach {
        color: #F51809;
        font-size: 22px;
    }
</style>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html5 lang="es-cl">

<head>

<head class="container">

    <div class="row mt-3">

        <img class="mb-4" src="{% static 'core/img/basketball-coach.jpg' %}" alt="" width="52" height="52">

        <div class="col-md-9 col-lg-10">
            <h3>Lista de Entrenadores</h3>
        </div>
        <div class="col-md-3 col-lg-2">
            {% if request.user.is_superuser %}
            <a href="{% url 'basket:create_coach' %}" class="btn btn-success btn-block mt-3"><i class="fas fa-plus-square"></i> Entrenador</a>
            {% endif %}
        </div>
    </div>
</head>

<body>
    <body>
        <table class="table">
        <thead class="thead-dark">
        <tr>
            <th style="color: white">Name</th>
            <th style="color: white">Team</th>

        {% if request.user.is_superuser %}
        <th style="color: white">Actions</th>
        </tr>
        {% endif %}
        </thead>
                <tbody_>
                   <tr>
                {% for coach in coach %}
                <tr>
                    <td>{{coach.name}} (<strong>{{coach.team.name}}</strong>)</td>
                    <td>{{coach.team.name}} (<strong>{{coach.team.name}}</strong>)</td>
                    {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url 'basket:update_coach' coach.id %}"><i class="fas fa-edit color_update_coach"></i></a> |
                        <a href="{% url 'basket:delete_coach' coach.id %}"><i class="fas fa-trash-alt color_delete_coach"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody_>
        </table>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/98a2688348.js" crossorigin="anonymous"></script>
    </body>
</body>
{% endblock %}