{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Crear equipos{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'basket:coach' %}">Entrenadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'basket:players' %}">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'basket:teams' %}">Equipos</a>
      </li>
    </ul>
  </div>
</nav>

<title>Match</title>
  </head>
  <body>
  	<div class="container">
	<h2>Agregar Team</h2>
	{% bootstrap_messages %}
	<form class="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
    		<button type="submit" class="btn btn-primary btn-lg">
      		<i class="fas fa-save"></i> Agregar
    		</button>
  		{% endbuttons %}



	</form>
{% endblock %}
