{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<!DOCTYPE html>
<html5 lang="es-cl">
<head>
    <!-- Require meta tags-->
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Links</h1>
    <ul>
        <li><a href="{% url 'basket:home' %}">Home</a></li>
        <li><a href="{% url 'basket:teams' %}">Teams</a></li>
        <li><a href="{% url 'basket:match' %}">Matches</a></li>

    </ul>

    {% block link %}{% endblock %}

<div class="row">
    <table class="table table-hover mt-3">
        <thead class="thead-dark">
        <th style="color: white">Last 3 Matchs</th>
        <th style="color: white">Position</th>
        </thead>
</div>
<tr>
    {% for match in last_5_matchs %}
        <tr>
            <td style="color: black">{{ match.team1.player.first.team.name }} <strong>VS </strong>{{ match.team2.player.first.team.name }}</td>
            <td style="color: black">{{ match.date }}</td>
        <tr>
    {% endfor %}
    </tr>
</table>

<table class="table mt-2">
    <thead class="thead-dark">
    <th style="color: white">Last 3 Players</th>
    <th style="color: white">Position</th>
    </thead>
    <tr>
                {% for player  in last_5_players %}
            <tr>
                <td style="color: black">{{ player.name }} ({{ player.nickname }})</td>
                <td style="color: black">{{ player.position }} ({{ player.postion }})</td>
            <tr>
        {% endfor %}
        </tr>
</table>

<table class="table mt-2">
    <thead class="thead-dark">
        <th style="color: white">Teams</th>
    </thead>
</div>

</table>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6a748a1171.js" crossorigin="anonymous"></script>
</body>

</html5>

{% endblock %}