{% load static %}
{% include '_partials/_navbar.html' %}
<!DOCTYPE html>
<html5 lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
</head>
<body>
    <h1>{{ title }}</h1>
    jugadores

    <table class="table" style="width:100%" border="1">
        <thead class="thead-dark">
             <tr>
                <th>Name</th>
                <th>Team1</th>
                <th>VS</th>
                <th>Team2</th>
                <th>Date</th>
              </tr>
        </thead>
        <tbody>
            {% for juegos  in match %}
                <tr>
                    <td style="text-align: center">{{juegos.name}}</td>
                    <td style="text-align: center">{{juegos.team1}}</td>
                    <td style="text-align: center">VS</td>
                    <td style="text-align: center">{{juegos.team2}}</td>
                    <td style="text-align: center">{{juegos.date}}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html5>