{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'basket:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'basket:coach' %}">Entrenadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'basket:players' %}">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'basket:teams' %}">Equipos</a>
      </li>
    </ul>
  </div>
</nav>
<!-- bloque de titulo-->
    <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
            <h2>Agregar Jugadores!!</h2>
        </div>
        <a href="{% url 'basket:players' %}" class="btn btn-success btn-block mt-2">Crear Jugadores</a>
    </div>
<!-- fin bloque titulo -->
    jugadores(@)

<!-- Bloque table -->
    <div class="row">
        <div class="col">
             <div class="table table-striped table-hover mt-5"></div>
    <table class="table" border="1">
      <thead class="thead-dark">
      <tr>
        <th>Team</th>
        <th>Name</th>
        <th>Nickname</th>

      </tr>
      </thead>
        <tbody>
        {% for team in teams %}
            <h2>{{ team.name }}</h2>

            {% for player in team.players %}
            <li>{{ player.name }}</li>
            {% endfor %}

                <!--
                <th>{{jugador.team }}</th>
                <th>{{jugador.name }}</th>
                <th>{{jugador.nickname }}</th>
            -->




        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>


    {% buttons %}
    <button type="submit" class="btn btn-primary">Agregar</button>
    <button type="reset" class="btn btn-primary">Eliminar</button>
    {% endbuttons %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>

</html5>