{% extends 'base.html' %}
{% include '_partials/_navbar.html' %}
{% load boostrap4 %}


<!doctype html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="post" class="form">
            {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" name="" class="btn btn-primary" value="submit">
        </form>

    </div>
</body>
</html>