<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Apodo</td>
            </tr>

        </thead>
        <tbody>
            {% if object_list %}
            {% for solicitud in coach %}
            <tr>
                <td>{{ solicitud.name }}</td>
                <td>{{ solicitud.nickname }}</td>

                <td>
                    <a class="btn btn-primary" href="#">Editar</a>
                    <a class="btn btn-primary" href="#">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registro de entrenadores</h1>
            {% endif %}

        </tbody>

    </table>


</body>
</html>