{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Actualizar entrenador{% endblock %}

{% block content %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <div class="container">
    <!-- bloque de titulo-->
<h2>Editar Entrenador: </h2>

    <form class="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="far fa-edit"></i>Actualizar Entrenador
        </button>
        {% endbuttons %}

    </form>
    </div>
{% endblock %}