{% extends 'base.html' %}
{% load bootstrap4
{% block title %}Actualizar equipo{% endblock %}

{% block content %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'basket:home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'basket:coach' %}">Entrenadores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'basket:players' %}">Jugadores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Equipos</a>
              </li>
            </ul>
          </div>
        </nav>

    <div class="container">
    <!-- bloque de titulo-->
    <div class="row mt-8">
        <div class="col-md-8 col-lg-10">
            <h2>Actualizar Jugador</h2>


        </div>
    </div>

    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">
            A<i class="far fa-edit"></i>Actualizar Equipo
        </button>
        {% endbuttons %}

    </form>
    </div>
{% endblock %}